html,
.text-center {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.logo-container {
  position: relative;
}

.coins {
  position: absolute;
  bottom: 3px;
  left: 73px;
  z-index: 100;
}

.output {
  margin-bottom: 20px;
}

/* .revenues-container,
.expensis-container {
} */

.revenue-list,
.expenses-list {
  list-style-type: square;
}

.btn {
  margin-left: 25px;
  margin-top: 5px;
}
/* .revenue-item {
  margin-right: 20px;
} */
